<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--   <head>-->
<!--      <meta charset="UTF-8">-->
<!--      <title>Device Management</title>-->
<!--      <link rel="icon" th:href="@{/img/favicon.png}" />-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">-->
<!--&lt;!&ndash;      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/jqvmap/jqvmap.min.css}">&ndash;&gt;-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/summernote/summernote-bs4.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}">-->
<!--      <link rel="stylesheet" th:href="@{/css/custom-table.css}">-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/select2/css/select2.min.css}" />-->
<!--      <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}" />-->
<!--      &lt;!&ndash; DataTables  & Plugins &ndash;&gt;-->
<!--      <script th:src="@{/webjars/AdminLTE/plugins/datatables/jquery.dataTables.min.js}"></script>-->
<!--      <link rel="stylesheet"-->
<!--            th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}" />-->
<!--      <link rel="stylesheet"-->
<!--            th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />-->
<!--      <link rel="stylesheet"-->
<!--            th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}" />-->
<!--      <link rel="stylesheet" th:href="@{/css/custom-table.css}">-->
<!--      <-->

<!--      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js}"></script>-->
<!--      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--      <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>-->
<!--&lt;!&ndash;      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/chart.js/Chart.min.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/sparklines/sparkline.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/jqvmap/jquery.vmap.min.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;      <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>&ndash;&gt;-->

<!--   </head>-->

<!--   <body class="hold-transition sidebar-mini">-->
<!--      <-->
<!--      <div class="wrapper">-->
<!--         &lt;!&ndash; Main content &ndash;&gt;-->
<!--         <div class="content">-->
<!--            <div class="container-fluid">-->
<!--               <div class="row">-->
<!--                  <div class="col-12">-->
<!--                     <div class="card">-->
<!--                        <div class="card-header">-->
<!--                           <h3 class="card-title">Active Devices</h3>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                           <table id="active-devices" class="table table-detailed table-striped table-bordered table-hover w-100">-->
<!--                              <thead class="thead-dark">-->
<!--                                 <tr>-->
<!--                                    <th>Device ID</th>-->
<!--                                    <th>Status</th>-->
<!--                                    <th>Actions</th>-->
<!--                                 </tr>-->
<!--                              </thead>-->
<!--                              <tbody>-->
<!--                                 <tr th:each="entry : ${activeDevices}">-->
<!--                                    <td th:text="${entry.key}" class="item-name"></td>-->
<!--                                    <td th:if="${entry.value == T(ntua.dblab.gskourts.streamingiot.model.ActiveStatusEnum).ACTIVE}"-->
<!--                                        th:text="${entry.value}" class="badge badge-pill badge-info"></td>-->
<!--                                    <td th:if="${entry.value == T(ntua.dblab.gskourts.streamingiot.model.ActiveStatusEnum).INACTIVE}"-->
<!--                                        th:text="${entry.value}" class="badge badge-pill bg-warning"></td>-->
<!--                                    <td>-->
<!--                                       <form th:action="@{/devices/activate/{deviceId}(deviceId=${entry.key})}" th:object="${entry.key}" method="post">-->
<!--                                          <input type="hidden" th:name="deviceId" th:value="${entry.key}" />-->
<!--                                          <button type="submit" class="btn btn-primary">Activate</button>-->
<!--                                       </form>-->
<!--                                       <form th:action="@{/devices/deactivate/{deviceId}(deviceId=${entry.key})}" th:object="${entry.key}" method="post">-->
<!--                                          <input type="hidden" th:name="deviceId" th:value="${entry.key}" />-->
<!--                                          <button type="submit" class="btn btn-danger">Deactivate</button>-->
<!--                                       </form>-->
<!--                                    </td>-->
<!--                                 </tr>-->
<!--                              </tbody>-->
<!--                           </table>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--         &lt;!&ndash; /.content &ndash;&gt;-->

<!--      </div>-->
<!--      &lt;!&ndash; ./wrapper &ndash;&gt;-->
<!--   </body>-->

<!--   <script th:src="@{/js/custom-table.js}"></script>-->
<!--</html>-->




<!DOCTYPE html>
<html th:lang="__${langActive}__" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title th:text="Devices"></title>
   <link rel="icon" th:href="@{https://iili.io/HvmAqyN.png}"
            type="image/x-icon" />
   <!-- DataTables  & Plugins -->
   <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/select2/css/select2.min.css}" />
   <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}" />
   <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}" />
   <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
   <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}" />
   <link rel="stylesheet" th:href="@{/css/custom-table.css}">
</head>

<body>
<ol layout:fragment="breadcrumb">
   <li class="breadcrumb-item"><a th:href="@{/home}" th:text="Home"></a></li>
   <li class="breadcrumb-item active" th:text="Devices"></li>
</ol>

<!-- Main content -->
<section layout:fragment="content">
   <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
<!--         <div class="col-lg-3 col-xl-2">-->
<!--            <div th:replace="~{fragments/filters-policy-list-filters :: filters}"></div>-->
<!--         </div>-->
         <div class="col-lg-9 col-xl-10">
            <div class="card">
               <div class="card-header pl-2">
                  <h4 class="float-none d-inline ml-3 pt-1" th:text="Devices"></h4>
                  <a class="btn btn-outline-primary float-right" th:href="@{/devices/add}"><i
                          class="fas fa-plus"></i><span th:text="Add"></span></a>
               </div>
               <!-- /.card-header -->
               <div class="card-body p-0">
                  <table id="devices" class="table table-detailed table-striped table-bordered table-hover w-100">
                     <thead class="thead-dark">
                     <tr>
                         <th>Device ID</th>
                         <th>Status</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="entry : ${activeDevices}">
                         <td><a th:href="@{/devices/details/{deviceId}(deviceId=${entry.key})}"
                               th:text="${entry.key}" class="item-name"></a></td>
                         <td th:if="${entry.value == T(ntua.dblab.gskourts.streamingiot.model.ActiveStatusEnum).ACTIVE}"
                             th:text="${entry.value}" class="badge badge-pill badge-info"></td>
                         <td th:if="${entry.value == T(ntua.dblab.gskourts.streamingiot.model.ActiveStatusEnum).INACTIVE}"
                             th:text="${entry.value}" class="badge badge-pill bg-warning"></td>
                         <td>
<!--                              <div class="card-body">-->
<!--                                 <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-focused bootstrap-switch-animate bootstrap-switch-on" style="width: 85.6px;"><div class="bootstrap-switch-container" style="width: 126px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-success" style="width: 42px;">ON</span><span class="bootstrap-switch-label" style="width: 42px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 42px;">OFF</span><input type="checkbox" name="my-checkbox" checked="" data-bootstrap-switch="" data-off-color="danger" data-on-color="success"></div></div>-->
<!--                              </div>-->

                           <form th:action="@{/devices/activate/{deviceId}(deviceId=${entry.key})}" th:object="${entry.key}" method="post">
                              <input type="hidden" th:name="deviceId" th:value="${entry.key}" />
                              <button type="submit" class="btn btn-primary">Activate</button>
                           </form>
                           <form th:action="@{/devices/deactivate/{deviceId}(deviceId=${entry.key})}" th:object="${entry.key}" method="post">
                              <input type="hidden" th:name="deviceId" th:value="${entry.key}" />
                              <button type="submit" class="btn btn-danger">Deactivate</button>
                           </form>
                        </td>
                     </tr>
                     </tbody>
                  </table>
               </div>
               <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
      </div>
      <!-- /.row -->
   </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</body>

<th:block layout:fragment="scripts">
   <script th:src="@{/webjars/AdminLTE/plugins/datatables/jquery.dataTables.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/jszip/jszip.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/pdfmake/pdfmake.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/pdfmake/vfs_fonts.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
   <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/select2/js/select2.min.js}" defer="defer"></script>
<!--   <script th:src="@{/js/bootstrap-switch.min.js}"></script>-->

<!--   <script th:replace="~{fragments/filters-filters-js :: javascript}"></script>-->
   <script th:src="@{/js/custom-table.js}"></script>
   <script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
         $('#devices').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 7,
            "stateSave": true,
             lengthMenu: [5, 7, 10, 25],
             "language": {
                 "emptyTable": "No registered devices",
                    "info": "Showing _START_ to _END_ of _TOTAL_ registered devices",
                    "infoEmpty": "Showing 0 to 0 of 0 registered devices",
                    "infoFiltered": "(filtered from _MAX_ total registered devices)",
                    "lengthMenu": "Show _MENU_ registered devices",
                    "search": "Free text search:",
                    "zeroRecords": "No matching registered devices found",
             },
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis", "pageLength"]
         }).buttons().container().appendTo('#devices_wrapper .col-md-6:eq(0)');
      });
      /*]]>*/
    </script>
</th:block>

<!--                         send a request to /redis/latest-measurement/{entry.key} every 5 seconds. The returned value should be updated in element with id="latestValue"-->
<!--<script>-->
<!--    setInterval(function(){-->
<!--        $.ajax({-->
<!--            url: "/redis/latest-measurement/" + entry.key,-->
<!--            type: "GET",-->
<!--            success: function (data) {-->
<!--                $("#latestValue").text(data);-->
<!--            }-->
<!--        });-->
<!--    }, 5000);-->
<!--</script>-->

</html>